div {
    height: 450px;
    width: 450px;
    color: blue;
    background-color: yellow;
    float: left;
}

div img {
    height: 150px;
    width: 300px;
}

.vermelho {
    height: 450px;
    width: 450px;
    background-color: blue;
    float: left;

}

#terceiro {
    float: left;
    color: blue;

}

