h1 {
    font-family: "Arial";
    font-size: 50px;
    text-align: center;

}

p {
    font-family: "Verdana";
    font-size: 20px;                           /* Elementos*/
    color: rgba(0, 50, 50, 0.5);
    text-align: center;

}

img {
    height: 100px;
    width: 300px;
    text-align: center;

}

.azul {
    color: blue;
    text-align: center;

}
                                                 /* classes */
.vermelho {
    color: red;
    text-align: center;

}

#titulo_html {
    font-size: 50px;
    color: rgb(12, 68, 250);
    text-align: center;

}                                                 /* id */

#titulo_css {
    font-size: 50px;
    color: rgb(21, 247, 21);
    text-align: center;
}